.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.snap
.scannerwork/

# IDE configs
jsconfig.json

# Personal config
src/services/config.js
