$primary-color: #b63781;

$font-light: 300;
$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 700;

$font-size-small: 0.875em;
$font-size-normal: 1em;
$font-size-medium: 1.2em;
$font-size-big: 1.5em;
$font-size-bigger: 18px;
$font-size-large: 1.8em;
$font-color: #606266;

